@model OrderVM

<div class="row">
    <!-- Форма заказа -->
    <div class="col-lg-5 col-md-12 mb-4">
        <div class="card bg-dark text-light border-secondary shadow-lg">
            <div class="card-body">
                <h4 class="card-title">Ваш заказ</h4>
                <table class="table table-dark table-borderless">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Стоимость</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.Product.Name</td>
                                <td>@item.Product.Cost.ToString("C2")</td>
                                <td>@item.Amount</td>
                                <td>@item.Cost.ToString("C2")</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-end">
                    <h6 class="text-success">Итого: @Model.Cost.ToString("C2")</h6>
                </div>
            </div>
        </div>
    </div>

    <!-- Форма данных покупателя -->
    <div class="col-lg-6 col-md-12 offset-lg-1">
        <div class="card bg-dark text-light border-secondary shadow-lg">
            <div class="card-body">
                <form method="post">
                    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Items" />

                    <!-- Поле для ФИО -->
                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label">ФИО*</label>
                        <input asp-for="Name" type="text" class="form-control bg-dark text-light" placeholder="Имя Фамилия" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <!-- Поле для Email -->
                    <div class="form-group mb-3">
                        <label asp-for="Email" class="form-label">Email*</label>
                        <input asp-for="Email" type="email" class="form-control bg-dark text-light" placeholder="name@example.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Поле для телефона -->
                    <div class="form-group mb-3">
                        <label asp-for="Phone" class="form-label">Телефон*</label>
                        <input asp-for="Phone" type="text" class="form-control bg-dark text-light" placeholder="+7 (926) 546-3469" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <!-- Поле для адреса -->
                    <div class="form-group mb-3">
                        <label asp-for="Address" class="form-label">Адрес*</label>
                        <input asp-for="Address" type="text" class="form-control bg-dark text-light" placeholder="г. Москва, ул. Тверская, д. 1" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <!-- Кнопки -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a class="btn btn-outline-light btn-lg" href="/home/index" role="button">Продолжить покупки</a>
                        <button class="btn btn-outline-success btn-lg" type="submit" asp-controller="Order" asp-action="Make">Оформить заказ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>