@model List<ProductVM>

@{
    int i = 1;
}

<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("AdminLeftMenu")
    </div>
    <div class="col-9">
        <h3 class="text-center">Продукты</h3>
        <br />
        <a class="btn btn-outline-warning" asp-area="admin" asp-controller="product" asp-action="add"><i class="bi bi-database-add"> Добавить новый продукт </i></a>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var product in Model)
                        {
                            <tr>
                                <td> @i</td>
                                <td class="col-3"><a style="color:navy" asp-area="admin" asp-controller="product" asp-action="index" asp-route-id="@product.Id"><p>@product.Name</p></a></td>
                                <td class="col-2">@string.Format("{0:### ### ###}", product.Cost) р</td>
                                <td class="  col-4 text-end">
                                    <a class="btn btn-outline-warning" asp-area="admin" asp-controller="product" asp-action="edit" asp-route-id="@product.Id"><i class="bi bi-pencil"> Редактировать </i></a>
                                    <a class="btn btn-warning" asp-area="admin" asp-controller="product" asp-action="delete" asp-route-id="@product.Id"> <i class="bi bi-trash-fill"> Удалить </i> </a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>